{% extends 'base.html' %}

{% block title %}Our Team{% endblock %}

{% block content %}
<div class="our-team">
  <h1>Our Team</h1>
  <p>Meet the dedicated individuals behind the Investment Calculator. Our team combines expertise in finance, software development, and user experience to create tools that simplify investing.</p>

  <h2>Kofi Busia Kyei </h2>
<p>Founder and Developer</p>
<p>Kofi is a financial analyst with a passion for financial knowledge and technical skills. His technical skills and financial knowledge drive the development of innovative solutions.</p>

<p>Stay tuned for more updates about our growing team!</p>
</div>
{% endblock %}